:root {
    --primary-text-color: #434455;
    --title-color: #2E2F42;
    --accent-color: #4D5AE5;
    --white-color: #ffffff;
    --color-cloud: #F4F4FD;
    --color-cornflower: #E7E9FC;
    --hover-color: #404BBF;
}

body {
    /* width: 1440px; */
    background-color:var(--white-color);
    color:var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}

h1,h2,h3{
    margin-top: 0;
    margin-bottom: 0;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    margin-top: 0;
    margin-bottom: 0;

}

.list {
    list-style: none;
}

/*========================= COMPONENTS============================= */
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.header{
    border-bottom: 1px solid var(--color-cornflower);
}











.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section.work{
    padding-top: 0;
    outline: 2px solid red;
}

.section.features{
    outline: 2px solid red;
}

.features-list{
    display: flex;
    padding-left: 0;
    outline: 2px solid green;}

.features-list-item{
    width: 264px;
}

.features-list-item:not(:last-child){
    margin-right: 24px;
}



.work-list{
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    padding-left: 0;
    outline: 2px solid green;
    }

.team-list{
    padding-left: 0;
    display: flex;
    margin-top: 72px;
}
.team-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid green;
}
.team-list-item:not(:last-child){
    margin-right: 24px;
}

.team-list-title{
    margin-top: 32px;
}
.team-list-text{
    margin-top: 8px;
}








.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu-link.current {
    color: var(--hover-color);
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    cursor: pointer;
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}
.section-title {
    color: var(--title-color);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
}
.features-list-title,
.team-list-title,
.portfolio-list-title {
    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.features-list-text,
.team-list-text,
.portfolio-list-text{
    line-height: 1.5;
}
/* ==============================HEADER=================================== */
.logo-header{
    color: var(--title-color);
}

/* ============Menu================ */
.menu-link {
    color: var(--title-color);
    font-weight: 500;
    text-decoration: none;
    line-height: 1.5;
}
.menu-link:hover, .menu-link:focus{color: var(--hover-color);}


/* ===========Contacts============== */
.contacts-link{
    color: var(--primary-text-color);
    font-style: normal;
    text-decoration: none;
    line-height: 1.5;
}
.contacts-link:hover, .contacts-link:focus{
    color: var(--hover-color);
}

/* ===================================SECTION HERO============================= */
.hero{
    background-color: var(--title-color);
    text-align: center;
    outline: 2px solid red;
    padding-top: 188px;
    padding-bottom: 188px;
    
}


.hero-title{
    color: var(--white-color);
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
    width: 494px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid green;
    }
    

.hero-btn{
    color: var(--white-color);
    background-color:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    outline: 2px solid green;
}
.hero-btn:hover, .hero-btn:focus{
    background-color:var(--hover-color);
}

/* ================================SECTION OUR FEATURES========================= */

/* ================================SECTION OUR WORK============================= */

/* ================================SECTION OUR TEAM============================= */
.section.team{
    background-color: var(--color-cloud);
    outline: 2px solid red;
}


/* =======================================FOOTER=============================== */
.footer{
    background-color:var(--title-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-footer{
    color: var(--color-cloud);
    outline: 2px solid green;
}
.footer-text{
    width: 264px;
    color: var(--color-cornflower);
    line-height: 1.5;
    margin-top: 16px;
    outline: 2px solid green;
}



/* ======================================PORTFOLIO STYLES=========================== */
.filter-btn{
    color: var(--accent-color);
    background-color:var(--color-cloud);
    
    border: 1px solid var(--color-cornflower);
}
.filter-btn:hover, .filter-btn:focus{
    color: var(--white-color);
    background-color:var(--hover-color);
}










.section.portfolio{
    padding-top: 96px;
}
.filter{
    display: flex;
    justify-content: center;
    outline: 2px solid green;
}
.filter-item:not(:last-child){
    margin-right: 24px;
}
.portfolio-list{
    padding-left: 0;
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-list-title{
    margin-top: 32px;
    outline: 2px solid green;
}
.portfolio-list-text{
    margin-top: 8px;
    outline: 2px solid green;
}